@font-face {
  font-family: "iconfont"; /* Project id 3818792 */
  /* Color fonts */
  src:
       url('iconfont.woff2?t=1670583461783') format('woff2'),
       url('iconfont.woff?t=1670583461783') format('woff'),
       url('iconfont.ttf?t=1670583461783') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youxiang1:before {
  content: "\e66e";
}

.icon-shejiaotubiao-03:before {
  content: "\e641";
}

.icon-csdn:before {
  content: "\e60c";
}

.icon-shouyexuanzhong:before {
  content: "\e673";
}

.icon-link:before {
  content: "\e756";
}

.icon-dianying:before {
  content: "\e67d";
}

.icon-shijian:before {
  content: "\e613";
}

.icon-xiuxian:before {
  content: "\e62a";
}

.icon-guanyuwomen:before {
  content: "\e634";
}

.icon-yinle:before {
  content: "\e60f";
}

.icon-biaoqian:before {
  content: "\f24b";
}

.icon-fenlei:before {
  content: "\100a7";
}

.icon-shuji:before {
  content: "\100c9";
}

.icon-beizi:before {
  content: "\e604";
}

